/* Reset some default browser CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    background-color: white;
    color: black;
}

body {
    /* Make the page responsive for ultra-wide screen sizes. */
    max-width: 90rem;
    margin: auto;
    padding: 2rem;
}

h1 {
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    user-select: none;
}
button:hover {
    opacity: 0.9;
}
button:active {
    opacity: 0.8;
}
