.table-container {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
}

table.users {
    --table-font-size: 1rem;
    --table-margin-top: 3.75rem;
    --table-border-spacing: 0 1rem;
    --table-items-padding: 1rem;
    --table-items-border: 1.4px solid #d0d7de;
    --table-items-border-radius: 0.625rem;
    --table-btns-font-size: 0.9rem;
    --table-edit-btn-bg-color: #007bff;
    --table-edit-btn-fg-color: white;
    --table-delete-btn-bg-color: #b30000;
    --table-delete-btn-fg-color: white;
}

.users {
    width: 100%;
    margin-top: var(--table-margin-top);
    border-spacing: var(--table-border-spacing);
    font-size: var(--table-font-size);
}

.users td {
    padding: var(--table-items-padding);
}

.users tbody td {
    border-top: var(--table-items-border);
    border-bottom: var(--table-items-border);
}
.users tbody td:first-child {
    border-top-left-radius: var(--table-items-border-radius);
    border-bottom-left-radius: var(--table-items-border-radius);
    border-left: var(--table-items-border);
}
.users tbody td:last-child {
    border-top-right-radius: var(--table-items-border-radius);
    border-bottom-right-radius: var(--table-items-border-radius);
    border-right: var(--table-items-border);
}

.users th,
.users td {
    text-align: center;
    text-wrap-mode: nowrap;
}

.edit-btn,
.delete-btn {
    font-size: var(--table-btns-font-size);
}

.edit-btn {
    background-color: var(--table-edit-btn-bg-color);
    color: var(--table-edit-btn-fg-color);
    width: 5rem;
}
.edit-btn[value='save'] {
    background-color: green;
}

.delete-btn {
    background-color: var(--table-delete-btn-bg-color);
    color: var(--table-delete-btn-fg-color);
}

.users tbody td.spinner {
    border: none;
    padding-top: 5rem;
}

.users tbody td.spinner > img {
    width: 2.5rem;

    animation: spin 750ms linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1150px) {
    .users tbody td:nth-last-child(2) {
        border-top-right-radius: var(--table-items-border-radius);
        border-bottom-right-radius: var(--table-items-border-radius);
        border-right: var(--table-items-border);
    }

    th:nth-last-child(1),
    td:not(.spinner):nth-last-child(1) {
        display: none;
    }
}

@media (max-width: 1000px) {
    .users tbody td:nth-last-child(3) {
        border-top-right-radius: var(--table-items-border-radius);
        border-bottom-right-radius: var(--table-items-border-radius);
        border-right: var(--table-items-border);
    }

    th:nth-last-child(2),
    td:nth-last-child(2) {
        display: none;
    }
}

@media (max-width: 900px) {
    .users tbody td:nth-last-child(4) {
        border-top-right-radius: var(--table-items-border-radius);
        border-bottom-right-radius: var(--table-items-border-radius);
        border-right: var(--table-items-border);
    }

    th:nth-last-child(3),
    td:nth-last-child(3) {
        display: none;
    }
}

@media (max-width: 800px) {
    .users tbody td:nth-last-child(5) {
        border-top-right-radius: var(--table-items-border-radius);
        border-bottom-right-radius: var(--table-items-border-radius);
        border-right: var(--table-items-border);
    }

    th:nth-last-child(4),
    td:nth-last-child(4) {
        display: none;
    }
}

@media (max-width: 600px) {
    .users tbody td:nth-last-child(6) {
        border-top-right-radius: var(--table-items-border-radius);
        border-bottom-right-radius: var(--table-items-border-radius);
        border-right: var(--table-items-border);
    }

    th:nth-last-child(5),
    td:nth-last-child(5) {
        display: none;
    }
}
